@import "defaults";

.navbar-brand {
    font-weight: bold;
}

.navbar-main {
    background-color: white;
    display: flex;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: $primaryColor;
    width: 100%;
    padding: 1em $defaultSize;
    align-items: center;
}

.navbar-title * {
    font-size: 1.2em;
    color: $primaryColor;
}

.navbar-logo {
    margin-right: 0.5em;
}

.navbar-list {
    flex: 1;
    display: inline-flex;
    margin-left: $defaultSize;
}

.navbar-list > * + * {
    margin-left: $defaultSize;
}
